/* BASE VARIABLES
 *******************/
 $icon-font-path: "../bower_components/bootstrap-sass/assets/fonts/bootstrap/";
@import url(https://fonts.googleapis.com/css?family=Dosis:400,700);
 @import "../bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
/* Sizes */
$footerheight: 50px;

/* Colors */
$text: #555;
$links: #ffc800;
$hover: #ffc800;

$bg: #FFF;

/* Fonts */
$main: 'Dosis', sans-serif;

/* Borders */
$border: 1px solid #000;

// Buttons
.btn-defaults {
  padding: 16px 24px;
  border-radius: 6px;
  font-size: 16px;
  font-weight: 700;
  line-height: normal;
  background: #ffc800;
  color: #ffffff !important;
  border: none;
}

input[type=submit] {
  @extend .btn-defaults;
  padding: 6px 4px;
}
