.navbar-default {
  background: rgba(0, 0, 0, 0.9);
  border: none;
  border-radius: 0;
  border-top: 5px solid #ffc800;
  .navbar-toggle {
    border: none;
    &:hover, &:focus{
      background: none;
      .icon-bar{
        background-color: #fefefe;
      }
    }
  }
  .navbar-collapse{
    border: none;
  }
  .navbar-brand {
    padding: 5px 5px 0px 1em;
  }
  .navbar-nav {
    > li {
      > a {
        letter-spacing: 0.05em;
        text-transform: uppercase;
        font-weight: bold;
        line-height: normal;
        color: #fff;
        padding: 22px 20px;
        &:focus,
        &:hover {
          color: #fff;
          background-color: #ffc800;
        }
      }
    }
    > .active {
      > a {
        letter-spacing: 0.05em;
        text-transform: uppercase;
        font-weight: bold;
        line-height: normal;
        color: #fff;
        background-color: #ffc800;
        &:focus,
        &:hover {
          color: #fff;
          background-color: #ffc800;
        }
      }
    }
  }
}
